*{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;
}
.menuCabecera{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    background-image: url('/images/nathan-anderson-316188-unsplash.jpg'); 
  
}
.navegacion{
    text-decoration: none;
    color: white;
}
.menuCabecera>ul>li{
    float:left;
    margin:1vw;
    font-size:1vw;
    font-weight: bold;
    color:#ffffff;
}
.contenedorLogo{
    display:flex;
    flex-direction:column;
    margin:0;
    padding:0;
    align-items:center;
}
.contenedorLogo>p{
    font-weight: bold;
}
.contenedorLogo>a>img{
    width:8vw;
    height:3vw;
}
.iconosRedes{
    padding:1vh 0;
}
.iconosRedes>img{
    width:2vw;
    height:2vw;
}
#sectionLogin{
    background-image: url('/images/aircraft-4264451_1280.jpg');
    background-size: cover;
    display: flex;
    flex-direction:row;
    justify-content: center;
    padding:2vw 0;
}
#plane{
    font-size: 23px;
    height: 20vh;
    width: 10vw;
    
}

.contenedorFormulario>form{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    padding:2vw;
    color:#000000;
}
.contenedorFormulario h1{
    font-size: 3vw;
}
.contenedorInput{
    display:flex;
    flex-direction:column;
    width:30vw;
}
.contenedorInput>input{
    margin:2vh 0;
    font-size: 2vw;
    border:2px solid #000000;
}
.terminos{
    font-size: 1vw;
}
.fondoBlanco{
    background-color:rgba(255,255,255, 0.6);
    width:50%;
    padding:1vw 0;
}
button{
    padding:2vh;
    margin:1.5vh 0;
    font-size: 1.5vw;
    background-color:#ffff00;
    border:0;
}
footer{
    background-color:#190f53;
    min-height: 10vh;
}
.containerFooter{
    display:grid;
    grid-gap:10px;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows:minmax(100px,auto);
    background-color:#190f53;
    color:#ffffff;
}
.footerAyuda{
    grid-column:3/span 3;
    padding:1vw;
}

.footerInformacion{
    grid-column:6/span 3;
    padding:1vw;
}
.footerSuscribirse{
    grid-column:9/span 3;
    padding:1vw;
}
.footerInformacion>ul{
    list-style: none;
    padding:0;
}
.footerSuscribirse>button{
    margin-top:2vw;
    padding:0.5vw;
    font-size:1vw;
    font-weight: bold;
    background: #ffff00;
    border:0;
}
.footerSuscribirse>input{
    font-size: 1vw;
}
.derechos{
    color:#ffffff;
    text-align: center;
    font-size: 0.8em;
}

@media (max-width:1050px){
    .footerAyuda{
        grid-column:2/span 3;
    }
}
@media (max-width:900px){
    #nosotros>div{
        position: relative;
        width: 50vw;
        padding:1vw 3vw;
    }
    #nosotros>div>div>h1{
        font-size: 2vw;
    }
    #nosotros>div>div>h1:before{
        bottom:0;
        width:25%
    }
    #nosotros>div>p{
        font-size: 1vw;
    }
    #nosotros>div>div>a{
        font-size: 2vw;
    }
    #ubicacion{
        display: flex;
        flex-direction: row;
    }
    iframe{
        width:40vw;
        height:50vh;
    }
    .contenedorInputs>input{
        position: relative;
        width:40vw;
        font-size:2vw;
    }
    .contenedorTextarea>textarea{
        width:40vw;
        height: 8vh;
        font-size:2vw;
    }
    .contenedorContacto{
        width:40vw;
        font-size:2vw;
    }
}
@media (max-width:790px){
    .footerAyuda{
        grid-column:1/span 3;
        margin-left: -7vh;
    }
}

@media(max-width:770px){
    #primeraFilaDestinos{
        display:flex;
        position: relative;
        flex-direction:row;
        width:90%;
     }
     #segundaFilaDestinos{
        display:flex;
        position: relative;
        flex-direction:row;
        width:90%;
     }
     #segundaFilaDestinos>div>img{
        width: 25vw;
        height: 20vw;
    }
    #primeraFilaDestinos>div>img{
        width: 25vw;
        height: 20vw;
    }
    .descuento{
        font-size: 1vh;
    }
}
@media (max-width:700px){
    iframe{
        width:40vw;
        height:40vh;
    }
}
@media(max-width:500px){
    .contenedorLogo>p{
        font-size: 3vw;
        margin:0;
    }
    #carouselMovil{
        display:grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        margin:3vw 0;
    }
    .contenedorCarousel{
        width:70%;
        height:70%;
        display:grid;
        grid-column: 4/span 10;
    }
    /* #SeccionDestinos{
        display:none;
    } */
    .item>h2{
        font-size:3vw;
        padding:0;
        margin:0;
    }
    .item{
        text-align: center;
    }
    #nosotros>div{
        position: relative;
        width: 50vw;
        padding:1vw 3vw;
    }
    #nosotros>div>div>h1{
        font-size: 2vw;
    }
    #nosotros>div>p{
        font-size: 1vw;
    }
    #nosotros>div>div>a{
        font-size: 2vw;
    }
    #ubicacion{
        display: flex;
        flex-direction: column;
    }
    iframe{
        width:95vw;
        height:40vh;
    }
    .contenedorInputs>input{
        position: relative;
        width:90vw;
        font-size:2vw;
    }
    .contenedorTextarea>textarea{
        width:90vw;
        height: 10vh;
        font-size:2vw;
    }
    .footerAyuda{
        grid-column:2/span 10;
    }    
    .footerAyuda>h3{
        font-size:3vw;
    }
    .footerInformacion>h3{
        font-size: 3vw;
    }
    .footerInformacion>ul>li{
        font-size: 2vw;
    }
    .footerSuscribirse>h3{
        font-size: 3vw;
    }
    .footerAyuda>p{
        font-size:2vw;
    }
    .footerAyuda{
        grid-column: 4/span 10;
    }
    .footerInformacion{
        grid-column:4/span 10;
    }
    .footerSuscribirse{
        grid-column:4/span 10;
    }
    .footerInformacion>ul{
        list-style: none;
        padding:0;
    }
    #plane{
        font-size: 25px;
        height: 20vh;
        width: 20vw;
        margin: 0;
        padding: 0;
        
    }
}